backports.tarfile
datasets
eval-type-backport
faiss-gpu
httptools
ipykernel
jaraco.collections
jsonpath-python
langchain-experimental
langchain-openai
matplotlib
scipy
streamlit
tomli
watchfiles
websockets
