backports.tarfile
datasets
eval-type-backport
faiss-cpu==1.7.4
httptools
ipykernel
jaraco.collections
jsonpath-python
langchain-experimental
langchain-openai
matplotlib
scipy
streamlit
tomli
watchfiles
websockets
